{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatibus provident, tenetur hic laboriosam quos doloribus odit tempora voluptatem omnis excepturi quia fugiat distinctio accusantium saepe quae! A, veritatis rem.</p>
        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary">Signin</a>
            <a href="/signup/" class="btn btn-dark">Signup</a>
        </div>
    </section>    
</main>
{% endblock %}
