{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Pokemon Django App</h1>
        <p>
            Nuestra aplicación web utiliza redes neuronales para identificar Pokémon a partir de imágenes proporcionadas por el usuario. ¿Por qué elegimos esta idea? Porque los Pokémon son una parte icónica de la cultura popular y existe una amplia variedad de ellos, lo que hace que su identificación a veces pueda resultar complicada para quienes no están familiarizados con todos.

Al emplear redes neuronales, nuestra aplicación puede analizar características visuales de los Pokémon, como su forma, color y características distintivas, para determinar con precisión cuál es el Pokémon presente en la imagen cargada por el usuario. Esto brinda una experiencia interactiva y divertida, especialmente para los aficionados a los Pokémon.

Además, esta aplicación no solo tiene fines de entretenimiento, sino que también puede ser útil como herramienta educativa para aquellos interesados en aprender más sobre redes neuronales y su aplicación en la identificación de objetos en imágenes.

En resumen, creamos esta aplicación web para combinar la diversión y el aprendizaje al permitir a los usuarios identificar Pokémon de manera rápida y precisa utilizando tecnología de vanguardia como las redes neuronales.

        </p>
        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary">Signin</a>
            <a href="/signup/" class="btn btn-dark">Signup</a>
        </div>
    </section>    
</main>
{% endblock %}
